/TryMasm/MasmTry.obj
/TryMasm/MasmTry.exe
/TryMasm/MasmTry.ilk
/TryMasm/MasmTry.pdb
/TryMasm/logging.log
/TryMasm 2-0/MasmTry-2.exe
/TryMasm 2-0/MasmTry-2.ilk
/TryMasm 2-0/MasmTry-2.obj
/TryMasm 2-0/MasmTry-2.pdb
/TryMasm 2-0/src/resource/rsrc.RES
/TryMasm 2-0/ignore
